<mat-card *ngIf="assignmentTransmis">
    <mat-card-content>
        <mat-card-title>
            Details
        </mat-card-title>
        <mat-card-subtitle>
            {{assignmentTransmis.nom}}
            <br>
            {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy'}}
        </mat-card-subtitle>
        <div class="card-actions">
            <button (click)="onClickEdit()" 
            [disabled]="!isAdmin()"
            mat-stroked-button color="primary">Edit</button>
            <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()" class="example-margin">Devoir Rendu</mat-checkbox>
            <button (click)="onDelete()"
            [disabled]="!isAdmin()"
            class="supprimerBtn" mat-flat-button color="warn" 
            >Supprimer</button>
        </div>
    </mat-card-content>
  </mat-card>
  