
a {
    text-decoration: none;
    color: black;
}
.rendu {
    color: green;
    background-color: orange;
}

.nonRendu {
    color: white;
    background-color: blue;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-drawer {
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex; /* 启用 Flexbox */
    justify-content: flex-end; /* 水平方向上推向右边 */
}

.ajouterBtn, .supprimerBtn {
    margin-left: 10px; /* 如果需要，为按钮之间添加一些空间 */
}


